.App {
  background: linear-gradient(
    0deg,
    #3b3b3b 25%,
    transparent 26%,
    transparent 49%,
    #e0dfa080 50%,
    #e0dfa080 75%,
    transparent 76%
  );
  background-size: 6em 10em;
  background-color: #292b2c;
  opacity: 1;
  height: 100vh;
}
